{% extends 'base.html' %}
{% block title %}To do | Create task{% endblock title %}
{% block content %}

<section class="content-section">
	<div class=title>
		<a href="{% url 'home' %}">&#8592; Back</a>
	</div>
	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<div class="form-outline mb-4">
				<input type="text" name="task-title" class="form-control" placeholder="Title" />
			</div>

			<div class="form-outline mb-4">
				<textarea type="text" name="task-des" class="form-control"
					placeholder="Description">Description</textarea>
			</div>

			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</section>

{% endblock %}