{% extends 'base.html' %}
{% block title %}To do | Update task{% endblock %}
{% block content %}

<section class="content-section">
	<div class="title">
		<a href="{% url 'home' %}">&#8592; Back</a>
	</div>
	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<div class="form-outline mb-4">
				<input type="text" name="task-title" class="form-control" value="{{ task.title }}" />
			</div>

			<div class="form-outline mb-4">
				<textarea type="text" name="task-des" class="form-control">{{ task.des }}</textarea>
			</div>

			<div class="form-outline mb-4">
				<input type="checkbox" name="complete" value="True" {% if task.complete %} checked {% else %} "" {% endif %} />
				<label for="complete">Complete</label>
			</div>

			<button type="submit" class="btn">Submit</button>
		</form>
	</div>
</section>

{% endblock %}