{% extends 'base.html' %}
{% block title %}To do | Home{% endblock title %}
{% block content %}

<section class="content-section">
	{% for m in messages %}
	{% if m.tags == 'error' %}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&#215;</span>
		</button>
	</div>
	{% else %}
	<div class="alert alert-{{ m.tags }} alert-dismissible fade show" role="alert">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% endfor %}

	{% if request.user.is_authenticated %}
	<div class="content-title">
		<div class="user-head">
			<h4>Hello {{ request.user.first_name }}</h4>
			<a href="{% url 'signout' %}">Logout</a>
		</div>
		<p class="mt-3">You have {{ count }} incomplete task{{ count|pluralize:'s' }} </p>
	</div>
	{% endif %}

	<div class="task-card">

		<div class="search-form">
			<form action="" method="GET">
				<input class="search" type="text" name="search" value="{{ search }}" placeholder=" Search" aria-label="Search" aria-describedby="search-addon" />
				<button type="submit" class="search-btn">Search</button>
			</form>
			<a href="{% url 'create' %}">Create task</a>
		</div>


		{% for task in usertask %}
		<div class="task-wrapper">
			{% if task.complete %}
			<div class="task">
				<div class="round-complete"></div>
				<i><s><a class="ml-2" href="{% url 'update' task.user_slug %}">{{ task.title }}</a></s></i>
			</div>
			<a href="{% url 'delete' task.user_slug %}">&#215;</a>
			{% else %}
			<div class="task">
				<div class="round"></div>
				<a class="ml-2" href="{% url 'update' task.user_slug %}">{{ task.title }}</a>
			</div>
			<a href="{% url 'delete' task.user_slug %}">&#215;</a>
			{% endif %}
		</div>

		{% empty %}
		<h6>No task found</h6>
		{% endfor %}
	</div>

</section>

{% endblock %}