.login {
  padding: 20px;
  width: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register {
  padding: 20px;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.index {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome {
  text-align: center;
  background-color: bisque;
  padding: 30px;
  width: 500px;
  border-radius: 2.25rem;
}

.content-section {
  background-color: aqua;
  padding: 20px;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-head {
  display: flex;
  justify-content: space-between;
}
