{% extends 'base.html' %}
{% block title %}To do | Login{% endblock title %}
{% block content %}

<section class="auth">
	{% for m in messages %}
	{% if m.tags == 'error' %}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&#215;</span>
		</button>
	</div>
	{% else %}
	<div class="alert alert-{{ m.tags }} alert-dismissible fade show" role="alert">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% endfor %}

	<div class="title">
		<h4>Login</h4>
	</div>

	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<div class="form-outline mb-4">
				<input type="text" name="username" class="form-control" placeholder="Username" />
			</div>

			<div class="form-outline mb-4">
				<input type="password" name="pass" class="form-control" placeholder="Password" />
			</div>

			<button type="submit" class="btn">Sign in</button>

			<div class="text-center">
				<p>Not a member? <a href="{% url 'register' %}">Register</a></p>
			</div>
		</form>
	</div>
</section>

{% endblock %}