{% extends 'base.html' %}
{% block title %}To do | Register{% endblock title %}
{% block content %}

<section class="auth">
	{% for m in messages %}
	{% if m.tags == 'error' %}
	<div class="alert alert-danger alert-dismissible fade show">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&#215;</span>
		</button>
	</div>
	{% else %}
	<div class="alert alert-{{ m.tags }} alert-dismissible fade show" role="alert">
		{{ m }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% endfor %}

	<div class="title">
		<h4>Register</h4>
	</div>

	<div class="form">
		<form method="POST">
			{% csrf_token %}
			<div class="form-outline mb-4">
				<input type="text" name="fname" class="form-control" placeholder="First name" required />
			</div>

			<div class="form-outline mb-4">
				<input type="text" name="lname" class="form-control" placeholder="Last name" />
			</div>

			<div class="form-outline mb-4">
				<input type="text" name="username" class="form-control" placeholder="User name" required />
			</div>

			<div class="form-outline mb-4">
				<input type="email" name="email" class="form-control" placeholder="Email address" required />
			</div>

			<div class="form-outline mb-4">
				<input type="password" name="pass1" class="form-control" placeholder="Password" required />
			</div>

			<div class="form-outline mb-4">
				<input type="password" name="pass2" class="form-control" placeholder="Confirm password" required />
			</div>

			<button type="submit" class="btn">Sign in</button>

			<div class="text-center">
				<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
			</div>
		</form>
	</div>
</section>

{% endblock %}